/*
* FontDefinitions.css
*
* This is a public font declaration, mirroring what is used in TheHub
*/

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-Light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-LightItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-LightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-Light.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-LightItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-Light.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-LightItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-Regular.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-Medium.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-MediumItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-Medium.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-MediumItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-Bold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto-BoldItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
}

body {
    font-family: Roboto, Arial, sans-serif !important;
}